/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.7);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  scroll-behavior: smooth;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Custom horizontal scrollbar with invisible thumb when not interacting */
.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.5); /* Visible color */
  border-radius: 4px;
  opacity: 0; /* Invisible by default */
  transition: opacity 0.3s;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
  opacity: 1; /* Fully visible on hover */
}

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height for horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f4f4f4; /* Track color */
  border-radius: 10px; /* Rounded corners */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c8c8c8; /* Scrollbar color */
  border-radius: 10px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c4c4c4; /* Darker on hover */
}

/* For Firefox */
.scroll-container {
  scrollbar-color: #b7b7b7 #f4f4f4; /* Thumb and track color */
  scrollbar-width: thin; /* Makes the scrollbar thinner */
}

/* Style for the input field inside PhoneInput */
.PhoneInput input {
  padding: 5px;
  border: 2px solid #cbcdce;
  border-radius: 8px;
}

.PhoneInput input:focus {
  outline: none;
}
